/*.content {*/
/*    grid-area: c;*/

/*}*/

.content_1 {
    width: 100%;
    display: flex;
    margin: 0 0 30px 10px;

}
.content_2 {

    margin-left: 30px;

}

.user__info {

    padding: 10px 20px 20px 20px;
    width: 655px;
    background-color: rgba(255,255,255, 1);
    border-radius: 20px;
    margin-left: 35px;
}


.user__name {
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:rgba(0,0,0, 0.8);
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(169, 169, 169, 0.2);

}

.user__name1 {
    font-weight: 300;
}

.enter {
    font-weight: 500;
}

.user__regals {

    display: flex;
    border-bottom: 1px solid rgba(169, 169, 169, 0.2);
    padding-bottom: 30px;
}



.day__birth {
   color: rgba(0,0,0, 0.9);
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.info__birth {
    margin-bottom: 20px;
    margin-right: 70px;
    font-weight: 300;


}

.info__birth1 {
    margin-bottom: 20px;
    margin-right: 70px;
    font-weight: 300;
    color: rgba(0, 191, 255, 1);
    cursor: pointer;
}

.info__birth1:hover {
    color: rgba(0, 191, 255,1);
}

.social__info {
    display: flex;
    align-items: center;
}



.social__id {
    margin-left: 40px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.social__number {
    font-weight: 200;
    color: rgba(0, 191, 255, 1);
}
.social__name {
    font-weight: 300;

}

.social__name:hover {
    color: rgba(0, 191, 255, .8);
    cursor: pointer;
}


.user__photo {
    position: relative;
    display: flex;

    justify-content: center;
    width: 260px;
    height:365px;
    background-color: rgba(255,255,255, 0.9);
    border-radius: 20px;
    padding: 15px 15px;
    /*background-image: url("https://dogdiary.ru/wp-content/uploads/2018/07/shhenok-zolotistogo-retrivera.jpg");*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/


}

.redact {
    color: white;
    position: absolute;
    top: 300px;
    right: 60px;
    background-color: rgba(169, 169, 169, 0.2);
    border-radius: 20px;
    padding: 10px 40px;
    cursor: pointer;
}

.redact1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 10px;
    right: 6px;
    cursor: pointer;

}

.redact__name {
    color: white;
    font-weight: 300;
}

.redact:hover {
    background-color: rgba(169, 169, 169, 0.8);
    color: white;


}

.burger {
    margin-left: 3px;
    background-color: white;
    border-radius: 50%;
    width: 7px;
    height: 7px;


}

.user__photo2 {
    background-size: cover;


    width: 100%;
    height: 270px;
    border-radius: 20px;
}

.content__file {
    display: flex;




}

.dialog__inner__left {

    margin-left: 13px;


}

.dialog__inner__right {


}

.content__photo {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(255,255,255, 0.9);
    width:650px;
    height: 200px;
    border-radius: 20px;
    margin-left: 35px;
}

.content__friends {
    position: relative;
    width: 260px;
    padding: 40px 10px;

    background-color: rgba(255,255,255, 0.9);
    border-radius: 20px;


}

.content__friends__inner {



    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.friends__photo {
    background-image: url("https://beautypic.ru/uploads/posts/2011-07/1309772085_beautypic-48.jpg") ;

    position: relative;
    background-size: cover;
    margin: 10px 10px 20px 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
}

.name__friend {
    display: flex;
    justify-content: center;
    margin-top: 65px;


}

.friends__names {
    color: rgba(0,0,0, 0.7);
    font-weight: 500;
    position: absolute;
    left: 30px;
    top: 20px;

}

.friends__number {
    font-weight: 300;
    position: absolute;
    left: 95px;
    color: rgba(169, 169, 169, 0.7);
}

.profile__photo {
    width: 140px;
    height: 140px;

    margin-left: 5px;
    border-radius: 10px;
    background-size: cover;
    background-image: url("https://w7.pngwing.com/pngs/636/121/png-transparent-stegosaurus-dinosaur-tyrannosaurus-drawing-dino-leaf-grass-cartoon.png");

}

.content__post__name {
    margin-left: 40px;
    font-weight: 500;
    color: rgba(169, 169, 169, 1);
}

.content__post {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;




    right: 0;
    top: 225px;
    height: 50px;
}

.content__post2 {

    right: 0;
    top: 300px;
    height: 500px;
}

.key__input {
    margin-right: 30px;
    display: flex;

    align-items: center;


}
.key__item {
    margin-right: 7px;
}

.key__item:hover .umbrella {
    fill: rgba(169, 169, 169, 1);
}