.profile__photo {



    margin-left: 5px;
    border-radius: 10px;
    background-size: cover;


}

.content__photo {
    display: flex;
    padding: 10px 0;

    justify-content: center;

    background-color: rgba(255,255,255, 1);
    width:650px;

    border-radius: 20px;
    margin-left: 35px;
    margin-top: 30px;
}

.content__post {
    display: flex;
    justify-content: space-between;
    align-items: center;





}

.content__post2 {


}

.input {

    width: 500px;
    border: 0;
    margin-left: 40px;
    font-weight: 500;
    color: rgba(169, 169, 169, 1);

}

.input:focus {
    outline: none;
}

.button {
    background: none;
    border: 0;
    font-weight: 500;
    color: rgba(169, 169, 169, 1);

    border-radius: 20px;
    padding: 10px;
    margin-right: 10px;

}

.button:focus {
    outline: none;
}

.button:hover {
    background-color: rgba(169, 169, 169, 0.1);;
}
