.header {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(255,255,255, 0.9);
}

.container {

    max-width: 1200px;
    margin: 0 auto;
    border: 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo__name {
    margin-left: 10px;
}

.header img {
    width: 40px;
}

.login_block {
    margin-left: auto;
}