.nav {


    color: rgba(0,0,0, 0.9);
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 10px;
    height: 700px;
    grid-area: n;
    background-color: rgba(255,255,255, 0.9);

}



.nav__link {
    width: 140px;
    font-size: 14px;
    display: flex;

    align-items: center;

    border-radius: 20px;
    padding: 0 40px;

}

.nav__name {
    font-weight: 300;
    font-size: 14px;
    position: relative;
    right: 30px;

    transition: color .2s linear;

    text-decoration: none;
    color: rgba(0,0,0, 0.9);
}

.nav__link:hover {
    cursor: pointer;
    background-color: gray;
}

.nav__link:hover .nav__name {
    color: white;

}


.nav__link:hover .umbrella {
    background-color: gray;
    color: white;
    fill: white;
}



.message {

    position: relative;
    right: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 8px 8px;
}