.nav {

    color: rgba(0,0,0, 0.9);
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 25px;
    border-radius: 20px;
    height: 500px;
    grid-area: n;
    background-color: rgba(255,255,255, 0.9);

}



.nav__link {

    font-size: 14px;
    display: flex;

    align-items: center;

    border-radius: 15px;
    padding: 0 20px 0 0;




}

.nav__name {
    font-weight: 300;
    font-size: 14px;


    transition: color .2s linear;

    text-decoration: none;
    color: rgba(0,0,0, 0.9);
}

.nav__link:hover {
    cursor: pointer;
    background-color: gray;
}

.nav__link:hover .nav__name {
    color: white;

}


.nav__link:hover .umbrella {
    background-color: gray;
    color: white;
    fill: white;
}



.message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    padding: 8px 8px;
}