.header {
    grid-area: h;
    display: flex;
    align-items: center;

    background-color: rgba(255,255,255, 0.9);
    padding: 10px 20px;
    border-radius: 10px;

}

.logo__name {
    margin-left: 10px;
}

.header img {
    width: 40px;

}