
.container {
    display: flex;
    width: 100%;
    height: 700px;
    position: relative;
    margin-left: 10px;


    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid rgba(169, 169, 169, 0.3);

}

.container:before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    z-index: 1;

    background-color: rgba(169, 169, 169, 0.3);


}

.dialog__inner__left {
    width: 35%;
    font-weight: 400;

}

.search__left {
    padding: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgba(169, 169, 169, 0.3);
}

.search__name {
    font-size: 14px;
    margin-left: 10px;


}


.dialog__inner__right {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 65%;


    border-bottom: 1px solid rgba(169, 169, 169, 0.3);
    padding: 10px;

}

.dialogs__right {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;


}

.regals__right {
    display: flex;
}

.user__name {

    font-size: 14px;
    margin-right: 20px;
    margin-left: 10px;
    font-weight: 500;
}

.last__time__enter {
    font-size: 14px;
}

.connection {
    display: flex;
    align-items: center;
}

.call {
    margin-right: 15px;
}
.search__right {
    width: 20px;
    height: 20px;
    margin-right: 15px;

}

.burger {
    display: flex;
    align-items: center;
    margin-right: 25px;

}

.burger__inner {
    width: 5px;
    height: 5px;
    background-color: gray;
    border-radius: 50%;
    margin-left: 3px;
}

.user__photo__right {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-image: url("https://sun9-28.userapi.com/impg/RK564zNh2K5d092fHg1aXv9IKS6Sn15sgv_bww/yAKnMyJ2ENQ.jpg?size=809x1080&quality=96&sign=1a86f11ec65a30aa6707b5188e243a4a&type=album");
}

.messages {
    position: absolute;
    top: 50px;
    left: 35%;
    width: 65%;
    height: 100%;
    overflow: hidden;


}

.input {
    display: flex;
    justify-content: space-between;

    position: absolute;
    bottom: 7%;


    width: 100%;
    height: 60px;

    background-color: rgba(169, 169, 169, 0.2);
    padding: 10px;



}

.input__inner {
    width: 100%;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 0 15px;
    margin-left: 30px;

}

.input__inner:focus {
    outline: none;
}

.button {
   margin-left: 30px;
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: white;
}

.button:focus {
    outline: none;
}

.button:hover {
    background-color: rgba(169, 169, 169, 0.3);
}
