.messages__inner {
    display: flex;
    margin-left: 30px;
    margin-top: 10px;

}

.name__and__message {
    font-size: 14px;
    margin-left: 10px;
}

.message__name {
    font-weight: 500;
    margin-bottom: 5px;

}

.message__text {
    margin-bottom: 10px;

}

.user__photo__right {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-image: url("https://sun9-28.userapi.com/impg/RK564zNh2K5d092fHg1aXv9IKS6Sn15sgv_bww/yAKnMyJ2ENQ.jpg?size=809x1080&quality=96&sign=1a86f11ec65a30aa6707b5188e243a4a&type=album");
}

.user__photo__right2 {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-image: url("https://sun9-47.userapi.com/impg/1aqOKOVQMjsQLjibugjSQSAvevC5QZ3ATGyenw/qQxHHLZ7pr0.jpg?size=658x1080&quality=96&proxy=1&sign=142d69151315ee51798528a841a51863&type=album");
}